<main class="page" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Nav bar and intro
  ================================================== -->
  {{> intro}}

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <div class="container marketing">
    {{> marketing_triplet}}
  </div>

  {{> ipad}}

  <div class="container marketing">
    {{> case_study_triplet}}
  </div>

  <hr class="featurette-divider" id="story">

  <div class="container marketing">
    {{> story}}
  </div>

  {{> footer}} 
</main>
